body {
    margin: 0 auto;
    font-family: sans-serif;
    max-width: 50em;
    min-width: 300px;
    text-align: center;
    background-color: rgb(212, 239, 255);
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    color: rgb(60, 105, 255);
}

table {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 2px gray solid;
}

td {
    border: 1px gray solid;
}
.Square {
	height: 80px;
	width: 80px;
}
